/*-----------------------------------------------------------------------------------------------
----- EMST framework customizations for Oxygen 
-----   CSS Styles for Bibliographic References
-------------------------------------------------------------------------------------------------*/

/* Bibliographic references */
biblStruct,
biblFull {
    display:block;
    border:1px solid;
    -oxy-display-tags:none;
    -oxy-foldable:true;
}

/* Section Labels */
biblStruct:before,
biblFull:before,
analytic:before,
monogr:before,
series:before {
    display:block;
    color:white;
    background-color:rgba(0, 0, 128, 0.5);
    font-weight:bold;
    width:100%;
    margin:5px;
    content: oxy_concat("${i18n(", oxy_name(), ".label)}");
}

/* Field labels */
bibl:before,
title:before,
author:before,
editor:before,
biblStruct date:before,
biblFull date:before,
edition:before,
publisher:before,
pubPlace:before {
    content: 
        oxy_label(
            text, oxy_concat("${i18n(", oxy_name(), ".label)}: ")
            styles, "@import 'labels.css';"
        )
    ;
}

bibl,
biblStruct,
biblFull,
analytic,
monogr,
series,
imprint,
title,
author,
editor,
resp,
edition,
publisher,
pubPlace,
biblScope,
idno {
    display:block;
}

biblScope:before {
    -oxy-append-content: 
        oxy_label(
            text, "${i18n(biblScope.label)}: "
            styles, "@import 'labels.css';"
        )
    ;
}

biblScope[type]:before {
    content:
        oxy_label(
            text, oxy_concat("${i18n(biblScope.label.", attr(type, string, ""), ")}: ")
            styles, "@import 'labels.css';"
        )
    ;
}

biblScope[unit]:before {
    content:
        oxy_label(
            text, oxy_concat("${i18n(biblScope.label.", attr(unit, string, ""), ")}: ")
            styles, "@import 'labels.css';"
        )
        oxy_label(
            text, "${i18n(biblScope.label.from)}: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@from"
            columns, 4
        )
        oxy_label(
            text, "${i18n(biblScope.label.to)}: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@to"
            columns, 4
        )
    ;
}

idno[type]:before {
    content:
        oxy_label(
            text, oxy_concat("${i18n(idno.label.", attr(type, string, ""), ")}: ")
            styles, "@import 'labels.css';"
        )
    ;
}

note[type="accessed"]:before {
    content:
        oxy_label(
            text, oxy_concat("${i18n(date.label.", attr(type, string, ""), ")}: ")
            styles, "@import 'labels.css';"
        )
    ;
}

