/* Contextual Information Lists */

@namespace xml url('http://www.w3.org/XML/1998/namespace');

/* Records */
person,
place,
org {
    display:block;
    margin:10px;
    padding:10px;
    border:2px inset;
    -oxy-foldable:true;
}

/* Fields */
person *,
place *,
org * {
    display:block;
    padding:2px;
}

/* Sections */
person:before,
place:before,
org:before {
    border-bottom:1px inset;
    padding-bottom:5px;
    width:100%;
    margin:5px;
}

person:before {
    content:
        oxy_label(
            text, "Person"
            styles, "@import 'labels.css';"
        )
        oxy_label(
            text, "Type:"
            styles, "@import 'sub_labels.css';"
        )
        oxy_combobox(
            edit, "@type"
            editable, true
            values, "hand"
        )
        "     ID: " attr(xml|id);
}

person > persName:before {
    content: "Name:"
}

person > persName * {
    display:inline;
}

person > persName > roleName:before {
    content: "Role:";
}

person > persName > roleName {
    visibility:-oxy-collapse-text;
    content:
        oxy_combobox(
            edit, "#text"
            editable, true
            columns, 7
            fontInherit, true
        );
}

person > persName > forename:before {
    content: "First:";
}

person > persName > nameLink:before {
    content: "Link:";
}

person > persName > surname:before {
    content: "Last:";
}

sex:before {
    content: "Sex:"
}

sex {
    display:inline;
    visibility:-oxy-collapse-text;
    -oxy-display-tags:none;
    content: 
        oxy_combobox(
            edit, "@value"
            editable, false
            values, "1, 2, 0"
            labels, "male, female, unknown"
        );
}

birth:before {
    content: 
        oxy_label(
            text, "Birth:"
            styles, "@import 'labels.css';"
        );
}

death:before {
    content: 
        oxy_label(
            text, "Death:"
            styles, "@import 'labels.css';"
        );
}

place:before {
    content: 
        oxy_label(
            text, "Place"
            styles, "@import 'labels.css';"
        )
        oxy_label(
            text, "Type:"
            styles, "@import 'sub_labels.css';"
        )
        oxy_combobox(
            edit, "@type"
            editable, true
            values, "settlement, country, region, bloc, district"
        )
        "     ID: " attr(xml|id);
}

place > placeName:before {
    content: "Place Name:";
}

country:before {
    content: "Country:";
}