/*-----------------------------------------------------------------------------------------------
----- EMST framework customizations for Oxygen 
-----   made to the TEI css available at 
-----   http://tei.svn.sourceforge.net/viewvc/tei/trunk/TEICSS/ 
-------------------------------------------------------------------------------------------------*/

@import "global_fields.css";
@import "contextual_info.css";

@namespace xml url('http://www.w3.org/XML/1998/namespace');

TEI, TEI\.2 {
    display:block;
    padding:10px 20px 5px 5px;
/*  Geneva - only (good-looking) font that supports OE chars (found so far)  */
    font-family:Geneva;
/*    font-family:helvetica, verdana, arial, sans-serif;*/
    font-size:12px;
}

/* Fields */
teiHeader *,
opener *,
closer * {
    display:block;
    padding:1px;
    white-space:nowrap;
}

creation,
opener,
closer {
    white-space:-oxy-trim-when-ws-only;
}

/* Sections */
teiHeader:before,
publicationStmt:before,
notesStmt:before,
sourceDesc:before,
profileDesc:before,
creation:before,
textClass:before,
textDesc:before,
keywords:before,
handNotes:before,
div:before,
opener:before,
closer:before,
postscript:before {
    display:block;
    color:white;
    background-color:gray;
    font-weight:bold;
    width:100%;
    margin:5px;
}

teiHeader,
publicationStmt,
notesStmt,
sourceDesc,
profileDesc,
creation,
textClass,
textDesc,
keywords,
handNotes,
div,
opener,
closer,
postscript {
    display:block;
    -oxy-foldable:true;
/*    -oxy-folded:true;*/
/*    -oxy-not-foldable-child: fileDesc;*/
}

/* TEI Header */
teiHeader:before {
    background-color:black;
    font-size:large;
    content: "TEI Header";
}

teiHeader,
facsimile {
    border:1px solid;
}

/* Collapsed Sections by Default */
publicationStmt,
notesStmt,
/*sourceDesc,*/
/*profileDesc,*/
/*creation,*/
textClass,
textDesc,
keywords,
handNotes {
    -oxy-folded:true;
    -oxy-display-tags:none;
}

/* Section Label Contents */

/* Labels that can be generated 
    by capitalizing their element names */
creation:before,
keywords:before,
title:before,
authority:before,
collection:before,
dateline:before,
opener:before,
closer:before,
postscript:before,
salute:before,
signed:before {
    content: oxy_capitalize(oxy_name()) ": ";
}

publicationStmt:before {
    content: "Publication Statement";
}

notesStmt:before {
    content: "Notes";
}

notesStmt > note {
    border:none;
}

sourceDesc:before {
    content: "Source Description";
}

profileDesc:before {
    content: "Profile Description";
}

textClass:before {
    content: "Text Classification";
}

textDesc:before {
    content: "Text Description";
}

handNotes:before {
    content: "Hand Notes";
}

/* Field Labels */

publicationStmt idno:before {
    content: "Internal ID:";
}

repository:before {
    content: "Archive:";
}

msIdentifier > idno:before {
    content: "Archive ID:";
}

altIdentifier > idno:before {
    content: "Alt. Identifier:";
}

creation *,
handNotes *,
facsimile * {
    visibility:-oxy-collapse-text;
}

creation > persName:before {
    content:
        oxy_label(
            text, "Person:"
            styles, "@import 'labels.css';"
        )
        oxy_combobox(
            edit, "@type"
            editable, true
            values, "sender, addressee"
        );
}

creation > persName {
    vertical-align:middle;
    padding:5px 0px;
}

creation > date:before {
    content:
        oxy_label(
            text, "Date:"
            styles, "@import 'labels.css';"
        )
        oxy_combobox(
            edit, "@type"
            editable, true
            values, "sender, addressee"
        );
}

creation > placeName:before {
    content:
        oxy_label(
            text, "Place:"
            styles, "@import 'labels.css';"
        )
        oxy_combobox(
                edit, "@type"
                values, "sender, addressee"
                editable, true
            );
    ;
}

teiHeader handNote:before {
    content: "Hand:";
}

/* Layout */
text {
  display: block;
}

text date,
div persName,
div placeName,
div orgName {
    display:inline;
    color:olive;
}

div:before {
    content: "Div    Type: "
        oxy_combobox(
            edit, "@type"
            editable, true
        );
}

div {
    -oxy-foldable:true;
    -oxy-not-foldable-child: head, opener;
}

div > * {
    display:block;
}

div * {
    white-space:nowrap;
}

head {
    display:block;
    font-weight:bold;
    padding-left:2px;
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px solid;
}

fw:before {
    content: "FW:";
}

fw {
    display:block;
    padding:1px;
    text-align:right;
}

p:before{
    content: url('img/Paragraph16.gif');
}

p {
    padding:2px;
    margin:2px;
    margin-bottom: 10px;
    -oxy-foldable:true;
}

p * {
    display:inline;
}

opener {
    margin-bottom:1em;
}

dateline * {
    display:inline;
}

closer {
    margin-top:1em;
}

seg[function='salute']{
    font-style:italic;
}

