/*-----------------------------------------------------------------------------------------------
----- EMST framework customizations for Oxygen 
-----   TEI Documents
-------------------------------------------------------------------------------------------------*/

/* Global fields & labels */
@import "globals.css";
/* TEI Header for a Document */
@import "teiHeader.css";
/* Facsimile */
@import "facsimile.css";
/* Text Editing */
@import "text.css";

