/*-----------------------------------------------------------------------------------------------
----- HisTEI framework customizations for Oxygen 
-----   CSS Styles for global fields - used in documents and contextual info
-------------------------------------------------------------------------------------------------*/

/* Global Fields */

/* All Labels */
*:before {
    font-weight:bold;
    padding-left:1px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:10px;
}

/* Field Icons */
date:before {
    -oxy-prepend-content: url('../images/date-16.png');
}
persName:before {
    -oxy-prepend-content: url('../images/person-16.png');
}
orgName:before {
    -oxy-prepend-content: url('../images/org-16.png');
}
placeName:before,
district:before,
settlement:before,
region:before,
country:before,
bloc:before {
    -oxy-prepend-content: url('../images/place-16.png');
}

/* Elements with hidden Oxygen tags */
date,
persName,
orgNae,
placeName,
district,
settlement,
region,
country,
bloc,
prt,
ref,
note,
hi {
    -oxy-display-tags:none;
}

/* Date */

date:empty:after,
date:not(:empty):focus:after,
birth,
death,
event,
affiliation,
education:focus:after,
faith:focus:after,
occupation:focus:after,
relation:focus:after,
residence, 
socecStatus:focus:after,
state:focus:after,
trait:focus:after {
    border:1px solid;
    margin:2px 0px;
    padding:3px;
    font-size:small;
    font-weight:normal;
    line-height:1.25em;
    content:
        oxy_label(
            text, "${i18n(date.label.when)}: "
            width, 40px
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@when"
            columns, 9
        )
        oxy_label(
            text, "${i18n(date.label.from)}: "
            width, 45px
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@from"
            columns, 9
        )
        oxy_label(
            text, "${i18n(date.label.to)}: "
            width, 25px
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@to"
            columns, 9
        )
/*        "\A"*/
        oxy_label(
            text, "${i18n(date.label.not.before)}: "
            /*width, 120px*/
            width, 80px
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@notBefore"
            columns, 9
        )
        oxy_label(
            text, "${i18n(date.label.not.after)}: "
            width, 70px
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@notAfter"
            columns, 9
        )
        oxy_label(
            text, "${i18n(date.label.cert)}: "
            width, 70px
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@cert"
            editable, false
            columns, 8
        );
}

/* Links */

ptr,
ref,
note[type="url"] {
    color:blue;
    -oxy-display-tags:none;
}

ptr,
ref {
    border:1px dashed;
}

/* ptr can't contain text, so disallow editing text() node */
ptr {
    visibility:-oxy-collapse-text;
}

ptr:before,
ref:before {
    content: url('../images/link-16.png');
}

ptr:hover:after,
ref:focus:after {
    padding:5px;
    link: attr(target, string, "");
    content: 
        url('../images/link_open-16.png')
        oxy_label(
            text, "${i18n(url.label)}: "
            width, 50px
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@target"
        )
    ;
}

note[type="url"]:before {
    content: 
        oxy_label(
            text, "${i18n(url.label)}: "
            styles, "@import 'labels.css';"
        )
    ;
}

note[type="url"]:after {
    padding-left:10px;
    link: oxy_xpath("text()");
    content: url('../images/link_open-16.png');
}

/* Headings & Labels */

head {
    display:block;
    font-weight:bold;
    padding:5px;
    border-bottom:1px solid;
}

head[type="title"] {
    font-size:larger;
}

head[type="sub"] {
    font-size:smaller;
    font-variant:small-caps;
}

head:before {
    content:
        url('../images/head-16.png')
        oxy_label(
            text, oxy_concat("${i18n(type.label)}: ")
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@type"
            values, "main, sub, title"
        )
        "  "
    ;
}

label {
    display:block;
    font-weight:bold;
    padding:2px;
    margin:3px;
}

label:before{
    content: url('../images/label-16.png');
}

/* Paragraph and accompanying Line Break */

p:before{
    content: url('../images/paragraph-16.png');
}

p {
    display:block;
    padding:2px;
    margin:2px;
    margin-bottom: 10px;
    -oxy-foldable:true;
}

lb {
    visibility:-oxy-collapse-text;
    -oxy-display-tags:none;
    content:url('../images/line_break-12.png') "\A";
}

lb[break="no"] {
    color:purple;
    font-weight:bold;  
    /* Possibilities: → – */
    content:"→\A";
}

/* Global Textual Styles */

hi[rend="bold"] {
  font-weight:bold;
}

hi[rend="italic"] {
  font-style:italic;
}

hi[rend="superscript"] {
    font-size:small;
    vertical-align:super;
}

hi[rend="subscript"] {
    font-size:small;
    vertical-align:sub;
}

hi[rend="underline"] {
  text-decoration:underline;
}



