@import "tei.css";
@import "links.css";

/*-----------------------------------------------------------------------------------------------------------------------------------------------------
----- Oxygen modifications to the TEI css available at  http://tei.svn.sourceforge.net/viewvc/tei/trunk/TEICSS/  ------
------------------------------------------------------------------------------------------------------------------------------------------------------*/
TEI, TEI\.2 {
    display:block;
}

div > head,
body > div > head,
body > div > div > head,
body > div > div > div > head,
body > div > div > div > div > head{
    padding-top:0.6em;
    padding-bottom:0.2em;
    padding-left:0.2em;
    padding-right:0em;
    background-color:inherit;
    color:#004477;
    border-bottom:1px solid #004477;
}

head {
    display:block;
}

div0 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div0;
  counter-reset: div1;
}

quote {
  display: block;
  margin-left: 1em;
}

text {
  display: block;
}

div,
body > div,
body > div > div,
body > div > div > div,
body > div > div > div > div{
    margin-bottom:0.2em;
}

cell[role='label'],
row[role='label']{
   color: inherit;
   background-color: #CCEEFF;
}

table {
  border: 1px solid #EEEFEE;
}

graphic{
    content: attr(url, url);
    width:attr(width, length);
    height:attr(height, length);
}

/*
 * Support for displaying unparsed entity images.
*/
figure[entity]{
     content: oxy_url(oxy_unparsed-entity-uri(attr(entity))); 
}

hi[rend="sc"] {
  display: inline;
  text-decoration:overline;
}

/*
    Foldable elements
*/
div, 
div0, 
div1, 
div2, 
div3, 
div4, 
div5, 
div6, 
div7 {
    -oxy-foldable:true;
    -oxy-not-foldable-child: head;
}


/*Avoids displaying the empty element placeholder.*/
lb:before{
    content:"";
}

titleStmt{
    display:block;
}

/*EXM-16532 Set some styles for gap*/
gap {
    display: -oxy-morph;
    content: "[...]";
    font-style: italic;
}
gap:after {
    content: "";
}
